* {
	background: #ffffff;
	font-family: monospace;
	margin: 0%;
	padding: 0.01%;
}

h1{
}

header {
	background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3LC5LZA1EKABrh1Z99k38DPBhjZFXkqbQENnziK9hfd0WejlUvwj") no-repeat left top;
	background-size: 100% 100%;
	opacity: 0.9;
	width: 100%;
	height: 100%;
}


#title{
	font: Lucida;
	font-size: 450%;
	color: white;
	text-shadow: 1px 1px 1px black;
	background: rgba(0, 0, 0, 0);
	text-align: center;
	padding-top: 20%;
	
}

#quote {	
	color:white;
	background: rgba(0, 0, 0, 0);
	font: Lucida;
	text-shadow: 1px 1px 1px black;
	font-style: italic;
	font-size: 105%;
	text-align: center;
	
}

#navigation {
	color:white;
	background: rgba(0, 0, 0, 0);
	font: Lucida;
	font-style: bold;
	font-size: 150%;
	list-style-type: none;
	padding-top: 8%;
	padding-bottom: 2%;
	text-align: center;
	
}

li {
	color:white;
	background: rgba(0, 0, 0, 0);
	display: inline;
}

li a{
	display: inline-block;
	color: white;
	background: rgba(0, 0, 0, 0);
	text-shadow: 1px 1px 1px black;

}

h2 {
	color: black;
	text-align: center;
	font-size: 200%;
	font-style: bold;
}

.divisions{
	background-color: rgba(0, 0, 0, 0);
	color: black;
	text-align: center;
	font-size: 150%;
}

.titles {
	color: black;
	text-align: center;);
	opacity: 0.4;
	text-align: center;
}

#Education {
	background-image: url("keyboards.jpg") no-repeat left top;
}
