* {
	background: #ffffff;
	width: 100%;
	height: 100%;
	font-family: monospace;
}

header {
	background:url("https://cloud.githubusercontent.com/assets/10785456/8024126/323d26cc-0d31-11e5-9f12-d95937216843.jpg") no-repeat left top;
	opacity: 0.9;
	background-size: 100% 200%;
	height: 120%;
}

#title{
	font: Lucida;
	font-size: 450%;
	color: white;
	text-shadow: 1px 1px 1px black;
	background: rgba(0, 0, 0, 0);
	text-align: center;
	margin-top: 2%;
	
}

#quote {
	
	color:white;
	background: rgba(0, 0, 0, 0);
	font: Lucida;
	text-shadow: 1px 1px 1px black;
	font-style: italic;
	font-size: 105%;
	text-align: center;
	margin-top: -5%;
	
}

#navigation {

	color:white;
	background: rgba(0, 0, 0, 0);
	font: Lucida;
	font-style: bold;
	font-size: 150%;
	text-align: center;
	list-style-type: none;
	padding:0%;
	margin-left:auto;
	margin-right: auto;
	
}

li {
	float: left;
	color:white;
	background: rgba(0, 0, 0, 0);
	margin-left:auto;
	margin-right: auto;
}
a{
	display: inline-block;
	width: 120%;
	color: white;
	background: rgba(0, 0, 0, 0);
	text-shadow: 1px 1px 1px black;
}
