* {
	background: #ffffff;
	font-family: monospace;
	margin: 0%;
	padding: 0.01%;
}

body {
	background:url("https://cloud.githubusercontent.com/assets/10785456/8045355/6cb46e36-0e3b-11e5-9fa7-2ef1ad34ac9c.jpg") no-repeat top left;
	background-size: 100% 100%;
}

header {
	background:url("https://cloud.githubusercontent.com/assets/10785456/8024126/323d26cc-0d31-11e5-9f12-d95937216843.jpg") no-repeat top left;
	background-size: 100% 100%;
	opacity:0.85;
	width: 100%;
	height: 100%;
}

#title{
	font: Lucida;
	font-size: 5.0em;
	color: white;
	text-shadow: 1px 1px 1px black;
	background: rgba(0, 0, 0, 0);
	text-align: center;
	padding-top: 20%;
	
}

#quote {	
	color:white;
	background: rgba(0, 0, 0, 0);
	font: Lucida;
	text-shadow: 1px 1px 1px black;
	font-style: italic;
	font-size: 1.2em;
	padding-bottom: 8%;
	text-align: center;
	
}

#navigation {
	color:white;
	background: rgba(0, 0, 0, 0);
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font: Lucida;
	font-style: bold;
	font-size: 1.5em;
	list-style-type: none;
	text-align: center;
	
}

li {
	color:white;
	background: rgba(0, 0, 0, 0);
	display: inline;
}

li a{
	display: inline-block;
	color: white;
	background: rgba(0, 0, 0, 0);
	text-shadow: 1px 1px 1px black;

}

.headers {
	font-size: 1.5em;
	background-color: rgba(0,0,0,0);
	color: white;
	
}
h2 {
	color: white;
	background-color: rgba(0,0,0,0);
}

.divisions{
	color: white;
	background:rgba(0, 0, 0, 0.6);
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 1.5em;
	padding-top:5%;
}

@media (max-width: 1200px) {
	* {
		font-size: 90%;
	}
	
}
@media (max-width: 900px) {
	
}
@media (max-width: 768px){
	#navigation {
		width: 100%;
		font-size:120%;
	}
	h2 {
		font-size: 60%;
	}
	#quote {
		padding-bottom:0%;
	}
	.divisions {
		width:100%;
		font-size: 90%;
	}
}

@media (max-width: 480px orientation: landscape) {

}




